*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
#content {
    max-width: 1600px;
    margin: 0 auto;
}
html {
    background-color: #2e3d5e;
}
.logo{
    width: 50px;
    float: left;
    margin-right: 50px;
}
#logolink {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header {
    background-color: #E6ECD4;
    grid-template-columns: 30px auto;
    font-family: Trebuchet, serif;
    font-size: 25px;
    padding: 25px 50px;
    display: flex;
    align-items: center;
}
nav a {
    text-align: center;
    color: #CC4E45;
    text-decoration: none;
    padding: 25px;
}
nav a:hover, section a:hover {
    background-color: #194280;
    color: #E6ECD4;
}
#intro {
    font-family: Trebuchet, serif;
    position: relative;
    text-align: center;
    color: white;
}
#hero-img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#hero-msg {
    position: absolute;
    text-align: center;
    top: 55%;
    color: white;
    background-color: #CC4E45;
    padding: 25px;
    padding-left: 100px;
    padding-right: 70px;
}
#hero-msg, h1 {
    font-size: 30px;
}
#hero-msg, h2 {
    font-size: 15px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
p {
    font-family: Helvetica, sans-serif;
    color: white
}
.hands {
    grid-column: 2/5;
    padding-top: 100px;
    padding-bottom: 50px;
}
.intro {
    grid-column: 6/9;
    padding-top: 150px;
    padding-bottom: 50px;
    padding-left: 15px;
}
.card1 {
    grid-column: 4/8;
    max-width: 100%;
    padding: 50px;
}
.button {
    font-family: Trebuchet, serif;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #CC4E45;
    text-decoration: none;
    color: white;
    text-align: center;
    grid-column: 5/6;
}
.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    position: relative;
}
.container img {
    width: 100%;
    height: auto;
  }
.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #194280;
    color: white;
    font-size: 20px;
    padding: 12px 24px;
    margin-left: 10%;
    text-decoration: none;
}
.container p {
    padding-top: 100px;
    grid-column: 2/6;
    padding-right: 50px;
}
.img-left {
    grid-column: 2/6;
    padding-top: 50px;
}
.img-right {
    grid-column: 6/10;
    padding-top: 50px;
}
footer {
    background-color: #E6ECD4;
    color: #194280;
    font-family: Trebuchet, serif;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #CC4E45;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.footer-contact {
    display: grid;

}
.socials {
    width: 30px;
}