#content {
    max-width: 1600px;
    margin: 0 auto;
}
html {
    background-color: #2e3d5e;
}
.logo{
    width: 50px;
    align-items: center;
}
#logolink {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
header {
    background-color: #E6ECD4;
    display: grid;
    grid-template-columns: 150px auto;
    font-family: Trebuchet, serif;
    font-size: 25px;
    padding: 25px;
}
nav a {
    text-align: center;
    color: #CC4E45;
    text-decoration: none;
    padding: 25px;
}
nav a:hover {
    background-color: #194280;
    color: #E6ECD4;
}
#hero {
    font-family: Trebuchet, serif;
    color: white;
    display: grid;
    grid-column: 2/9;
}
p {
    font-family: Helvetica, sans-serif;
    color: white
}
footer {
    background-color: #E6ECD4;
    color: #194280;
    font-family: Trebuchet, serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}
footer h3 a:hover {
    text-decoration: underline;
}