#content {
    max-width: 1600px;
    margin: 0 auto;
}
html {
    background-color: #2e3d5e;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.logo{
    width: 50px;
    float: right;
}
#logolink {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header {
    background-color: #E6ECD4;
    grid-template-columns: 30px auto;
    font-family: Trebuchet, serif;
    font-size: 25px;
    padding: 25px;
    margin: 0;
}
nav a {
    text-align: center;
    color: #CC4E45;
    text-decoration: none;
    padding: 25px;
}
nav a:hover {
    background-color: #194280;
    color: #E6ECD4;
}
#intro {
    font-family: Trebuchet, serif;
    position: relative;
    text-align: center;
    color: white;
}
#hero-img {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#hero-msg {
    position: absolute;
    text-align: center;
    top: 55%;
    color: white;
    background-color: #CC4E45;
    padding: 25px;
    padding-left: 100px;
    padding-right: 70px;
}
#hero-msg, h1 {
    font-size: 30px;
}
#hero-msg, h2 {
    font-size: 15px;
}
p {
    font-family: Helvetica, sans-serif;
    color: white
}
.intro {
    grid-column: 5/10;
}
.card1 {
    width: 500px;
    grid-column: 3/10;
}
.card2 {
    height: 500px;
    grid-column: 3/7;
}
footer {
    background-color: #E6ECD4;
    color: #194280;
    font-family: Trebuchet, serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #CC4E45;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
.footer-contact {
    display: grid;

}
.socials {
    width: 30px;
}