body {
    background-color: #FCA6C9;
}

.pageStuff {
    width: 450px;
    margin: 0 auto;
    text-align: center;
}

.serif {
    font-family: Arial, sans-serif;
}

.pageStuff ol{
    font-weight: bold;
    text-align: left;
    /* line-height: 200%; */
    padding-inline-start: 32px;
    margin-top: 15px;
}
.pageStuff ol li {
    margin-top: 15px;
}

.white {
    color: white;
}

.smallFont {
    font-size: 90%;
}

img {
    display: block;
    margin: 0 auto;
    width: 200px;
  }

.quotation {
    font-size: 40px;
    padding: 50px;
    padding-bottom: 20px;
}

.footer p {
    margin: 4px auto;
}

h1:hover {
    color: black;
}